In [2]:
import pandas as pd
import numpy as np

In [66]:
df = pd.read_csv('time_series_19-covid-Confirmed_archived_0325.csv')

In [67]:
df['Country/Region']

0                   Thailand
1                      Japan
2                  Singapore
3                      Nepal
4                   Malaysia
               ...
496                   Jersey
497              Puerto Rico
498    Republic of the Congo
499              The Bahamas
500               The Gambia
Name: Country/Region, Length: 501, dtype: object

In [68]:
df_Australia = df.loc[df['Country/Region'] == 'Australia']

In [69]:
df_Australia

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
6,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,112,134,171,210,267,307,353,436,533,533.0
7,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,49,57,71,94,121,121,121,229,296,296.0
8,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,46,61,68,78,94,144,184,221,221,221.0
19,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,19,20,29,29,37,42,50,67,100,100.0
22,From Diamond Princess,Australia,35.4437,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
49,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,17,17,28,31,35,52,64,90,120,120.0
61,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,5,6,7,7,10,10,10,16,22,22.0
71,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,1,1,1,1,1,1,3,3,3,3.0
402,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,1,1,2,2,3,4,6,9,19,19.0

In [70]:
#df_Australia.drop(columns=[1])
#df_Australia.drop(df.columns[[2,3]], axis=1)
df_Australia = df_Australia.drop(df_Australia.iloc[:, 2:14], axis = 1)

In [71]:
df_Australia = df_Australia.drop(df_Australia.iloc[:, 54:], axis = 1)

In [72]:
df_Australia = df_Australia.drop(columns=['Province/State'])

In [73]:

df_Australia.groupby(['Country/Region'], as_index=False).agg('sum')

,Country/Region,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,2/9/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,Australia,12,12,12,13,13,14,15,15,15,...,250,297,377,452,568,681,791,1071,1314,1314.0